

head{
  padding: 0;
  margin: 0;
}
html, body{
  font: 15px/1.5 Century Gothic;
  padding: 0;
  margin:0;
  background: #f4f4f4;
  overflow: hidden;
  height: 100%;


}
li a{
    margin-right: 2cm;
    font-family: Calibri;
    font-weight: 300;
    font-size: 17px;
    color: white;
}

#navbar{
    background-color: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}
#homeNav{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    font-weight: 600;
}

#navbar a{
  text-decoration: none;
  font-size:16px;
}

#navbar li{
  display: inline;
}

.resume{
  font: 15px/1.5 Century Gothic;
  text-align: center;
  color: black;
}

.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.background{
  min-height: 400px;
  background: url("{% static 'BackgroundProfile.jpg' %}") no-repeat 0;
  margin:inherit;
  background-size: 100vw;
  background-size: cover;

  width: 100vw;
  text-align: center;
}

.background img{
  width: 30%;
  position: relative;

}
.background1{
  min-height: 400px;
  background: url("{ % static 'bp.jpg' %}") no-repeat 0;
  margin:inherit;
  background-size: 100vw;
  background-size: cover;
  width: 100vw;
  text-align: center;
}

.resume{
  margin-top: 20px;
}

.nama{
  margin-top: 10px;
  font-size: 50px;
  margin-bottom: 0px;
  color: #ffffff;

}


.jurusan{
  margin-top: 0px;
  font-size:  30px;
  color: #ffffff;
  margin-bottom: 10px;

}

.ava{
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: 20%;
  border-radius: 50%;
}

.experience{
  float: left;
  color: black;
  margin-top: 60px;
}


.background1 img{
  width:100px;
}

.background1 .rinci{
  font-size: 20px;
  position: center;
  margin-top: 30px;
}
.background1 .education{
  float: right;
  color: black;
  margin-top: 60px;
}

.container{
  width: 80%;
  margin:0 auto;
}