<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width =device-width">
    <title>About</title>

    <link rel="stylesheet" href="{ % static './css/style.css' % }">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
  <body class="background1">

    <nav class="navbar sticky-top navbar-expand-lg" id="navbar">
      <div class="navbar-header">
          <a class="navbar-brand" id="homeNav" href="#">Lado Rayhan Najib <br> Computer Science Student</a>
      </div>

        <div class="container-fluid">
        <ul class="navbar-nav ml-auto">
            <li class="navbut"><a href="{ % static 'biodata.html' % }" >Home</a></li>

            <li class="navbut"><a href="{ % static 'resume.html' % }" >Resume</a></li>

            <li class="active navbut"><a href="#">About</a></li>

            <li class="navbut"><a href="{ % static 'galeri.html' % }" >Galeri</a></li>

            <li class="navbut"><a href="{ % static 'contact.html' % }">Contact</a></li>
        </ul>
        </div>
    </nav>

      <div class="container">
        <h3 class = "resume" title="Resume" style="font-size:3vw;">About</h3>
        <div class="experience">
        <h5 title="Experiences" style="font-size:2vw;"> About Me</h5>
        <br>
        <img src="{% static 'img/user.png' %}" class="team">
        <br>
        <p class="rinci">Hello, nama saya Lado Rayhan Najib. <br> Saya Sekarang adalah seorang pelajar di Universitas Indonesia <br> jurusan Ilmu Komputer. <br> Saya mengambil jurusan ini karena <br> saya ingin memajukan Indonesia di bidang teknologi</p>
        </div>
        <div class="education">
          <h5 title="Educations" style="font-size:2vw;"> Skills </h5>
          <br>
          <img src="{ % static 'img/design-tools.png' % }" class="team">
          <br>
          <p class="rinci"> Saya saat ini telah menguasai beberapa bahasa pemrograman. <br> Di antaranya yaitu Python, Java, Html, CSS</p>
          </div>
        </div>


  </body>
</html>
