<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width =device-width">
    <title>Home</title>

    <link rel="stylesheet" href="{% static './css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
  <body class ="background">
    <nav class="navbar fix-top navbar-expand-md" id="navbar">
      <div class="navbar-header">
          <a class="navbar-brand" id="homeNav" href="#">Lado Rayhan Najib <br> Computer Science Student</a>
      </div>
        <div class="container-fluid">
        <ul class="navbar-nav ml-auto">
            <li class="active navbut"><a href="#">Home</a></li>

            <li class="navbut"><a href="{ % static 'resume.html' %}"  >Resume</a></li>

            <li class="navbut"><a href="{ % static 'about.html' %}" >About</a></li>

            <li class="navbut"><a href="{ % static 'galeri.html' %}" >Galeri</a></li>

            <li class="navbut"><a href="{ % static 'contact.html' %}" >Contact </a></li>
        </ul>
        </div>
    </nav>
      <div class="container">
        <img src="{% static 'img/profilenew.jpg' %}" alt="Responsive image" class="ava">

        <h1 title="Fullname" style="font-size:5vw;" class="nama">Lado Rayhan Najib</h1>
        <p title="Major | College | Class of 2018 "style="font-size:2vw;"class = "jurusan"> Computer Science | University of Indonesia | 2018</p>

      </div>

  </body>
</html>
