<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width =device-width">
    <title>Contact</title>

    <link rel="stylesheet" href="{ % static './css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
  <body class ="background">

    <nav class="navbar sticky-top navbar-expand-lg" id="navbar">
      <div class="navbar-header">
          <a class="navbar-brand" id="homeNav" href="#">Lado Rayhan Najib <br> Computer Science Student</a>
      </div>

        <div class="container-fluid">
        <ul class="navbar-nav ml-auto">
            <li class="navbut"><a href="{% static 'biodata.html' %}" >Home</a></li>

            <li class="navbut"><a href="{% static 'resume.html' % }" >Resume</a></li>

            <li class="navbut"><a href="{ % static 'about.html' %}" >About</a></li>

            <li class="navbut"><a href="{ % static 'galeri.html' %}" >Galeri</a></li>

            <li class="active navbut"><a href="#">Contact</a></li>
        </ul>
        </div>
    </nav>
      <div class="container">
        <h3 class = "resume" title="Resume" style="font-size:3vw;">Contact</h3>
        <div class="box">
          <img style="width:45px;height:45px;"src="{% static 'img/instagram.png' %}" alt="Responsive image" class="responsive">
          <h3 style = "color:white">ladorayhann</h3>
        </div>
        <div class="box">
          <img style="width:45px;height:45px;" src="{ % static 'img/line.png' %}" alt="Responsive image" class="responsive">
          <h3 style = "color:white" >ladorayhann</h3>
        </div>
        <div class="box">
          <img style="width:45px;height:45px;" src="{ % static 'img/linkedin.png' %}" alt="Responsive image" class="responsive">
          <h3 style = "color:white">lado rayhan</h3>
        </div>
        <div class="box">
          <img style="width:45px;height:45px;" src="{ % static 'img/gmail.png' %}" alt="Responsive image" class="responsive">
          <h3 style = "color:white">ladorayhannajib@gmail.com</h3>
        </div>
        <div class="box">
          <img style="width:45px;height:45px;" src="{ % static 'img/whatsapp.png' % }" alt="Responsive image" class="responsive">
          <h3 style = "color:white">082110000868</h3>
        </div>

        </div>

  </body>
</html>
