<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width =device-width">
    <title>Galeri</title>

    <link rel="stylesheet" href="{ % static './css/style.css' % }">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
  <body class ="background">

    <nav class="navbar sticky-top navbar-expand-lg" id="navbar">
      <div class="navbar-header">
          <a class="navbar-brand" id="homeNav" href="#">Lado Rayhan Najib <br> Computer Science Student</a>
      </div>

        <div class="container-fluid">
        <ul class="navbar-nav ml-auto">
            <li class="navbut"><a href="{% static 'biodata.html' %}" >Home</a></li>

            <li class="navbut"><a href="{% static 'resume.html' % }" >Resume</a></li>

            <li class="navbut"><a href="{ % static 'about.html' %}">About</a></li>

            <li class="active navbut"><a href="#" >Galeri</a></li>

            <li class="navbut"><a href="{ % static 'contact.html' %}" >Contact</a></li>
        </ul>
        </div>
    </nav>

      <div class="container">
        <h3 class = "resume" title="Resume" style="font-size:3vw;">Galeri</h3>
        <div class="box">
          <img style="width:140px;height:140px;"src="{% static 'img/ui.jpg' %}" alt="Responsive image" class="responsive">

        </div>
        <div class="box">
          <img style="width:140px;height:140px;" src="{ % static 'img/70.jpg' %}" alt="Responsive image" class="responsive">

        </div>
        <div class="box">
          <img style="width:140px;height:140px;" src="{ % static 'img/model.jpg' %}" alt="Responsive image" class="responsive">


        </div>

  </body>
</html>
