<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width =device-width">
    <title>Resume</title>

    <link rel="stylesheet" href="{% static './css/style.css' % }">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
  <body class= "background1">

    <nav class="navbar sticky-top navbar-expand-lg" id="navbar">
      <div class="navbar-header">
          <a class="navbar-brand" id="homeNav" href="#">Lado Rayhan Najib <br> Computer Science Student</a>
      </div>

        <div class="container-fluid">
        <ul class="navbar-nav ml-auto">
            <li class="navbut"><a href="{% static 'biodata.html' %}" >Home</a></li>

            <li class="active navbut"><a href="#">Resume</a></li>

            <li class="navbut"><a href="{% static 'about.html' %}" >About</a></li>

            <li class="navbut"><a href="{ % static 'galeri.html' %}" >Galeri</a></li>

            <li class="navbut"> <a href="{ % static 'contact.html' % }"> Contact</a></li>
        </ul>
        </div>
    </nav>

      <div class="container">
        <h3 class = "resume" title="Resume" style="font-size:3vw;">Resume</h3>
        <div class="experience">
        <h5 title="Experiences" style="font-size:2vw;"> Experience</h5>
        <br>
        <img src="{% static 'img/team.png' %}" class="team">
        <br>
        <p class="rinci">Jabatan <br> Ketua Ukor Sepakbola Fasilkom UI 2018- <br> Kepanitiaan <br> Computer Get Science(Operasional) 2018-2019 <br> Compfest 11(Operasional) 2018-2019</p>
        </div>
        <div class="education">
          <h5 title="Educations" style="font-size:2vw;"> Education</h5>
          <br>
          <img src="{% 'static img/college-graduation.png' %}" class="team">
          <br>
          <p class="rinci">Pendidikan <br> SDN Pesanggrahan 03 Pagi 2012 <br> SMPN 161 Jakarta 2015 <br> SMAN 70 Jakarta 2018<br> Computer Science | Universitas Indonesia 2018-</p>
          </div>
        </div>

  </body>
</html>
